# {{ ansible_managed }}
agentAddress {{ snmpd_agentAddress }}
sysLocation {{ snmpd_sysLocation }}
sysContact  {{ snmpd_sysContact }}

view    systemonly  included    .1.3.6.1.2.1.1
view    systemonly  included    .1.3.6.1.2.1.25.1
rocommunity public  default -V systemonly

{% for item in snmpd_conf_lines %}
{{ item }}
{% endfor %}
